{% extends "base_template.html" %}
{% load static %}


{% block headers %}
<link rel="stylesheet" href="{% static 'css/autores.css' %}">
<title>Libros</title>
{% endblock %}

{% block content %}
<div class="container lista">
    <ul class="list-group">
        {% for book in books %}
        <li class="list-group-item">{{ book.name }} &nbsp;<a href="{% url 'book_detail' book.id %}"
                class="btn btn-sm btn-success">Detalles</a>&nbsp;<a href="{% url 'update_book' book.id %}"
                class="btn btn-sm btn-warning">Actualizar</a>&nbsp;<a href="{% url 'delete_book' book.id %}" class="btn btn-sm btn-danger">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}